*,
*,before,
*after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.header_container {
    background-color: #dffc00;
    text-decoration-color: #939344;
    height: 50px;
}
